
<h1>New list</h1>

<% flash.each do |type, _| %>
  <div>
    <%= type %>
  </div>
<% end %>

<%= simple_form_for model[:model] do |f| %>
  <%= f.input :todo, placeholder: "New todo for a new List", label: false %>
  <%= f.button :submit %>
<% end %>

<div>
  <%= model[:result][:model].class %>
</div>

<div>
  <%= link_to "Back to lists", lists_path %>
</div>